{% extends 'user/base.html' %}
{% block content%}    
<div class='section'>
      <div class='title'>
        <span class="material-symbols-outlined">graph_5</span>
        <h1>{{user.group}}</h1>
      </div>
      <div class='class'>
        <div class='class-item'>
          <h2>ФИО :</h2>
          <h2>{{user.last_name}}</h2>
          <h2>{{user.first_name}}</h2>
          <h2>{{user.father_name}}</h2>
      </div>
      <div class='class-item'>
        {% if user.course %}
        <h2>Курс :</h2>
        <h2>{{user.course}}</h2>
        {% endif%}
        {% if user.major %}
        <h2>Специальность :</h2>
        <h2>{{user.major}}</h2>
        {% endif %}
      </div>
      <div>
    </div>
{% endblock%}
{% block script %}
    <script>
    setTimeout(() => {
        window.location.href = "{% url 'home' %}";
      }, 5000);

    </script>
{% endblock %}
